body {
    font-family: myriad-pro,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 0 !important;
}

ul {
    list-style: none;
}

a {
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
}

svg {
    overflow: hidden;
    vertical-align: middle;
    position: relative;
    z-index: 110;
    margin-left: 1em;
}

svg:hover {
    cursor: pointer;
}

#logo {
    color: black;
}

.wrapper {
    max-width:90em;
    margin-left: auto;
    margin-right: auto;
}

.image-container {
    -webkit-animation: fadein 1.5s;
    display: flex;
    position: relative;
    max-width: 90em;
    height: calc(90vh - 8.75rem);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.dummy-img {
    object-fit: cover;
    width: 100%;
    height: calc(90vh - 8.75rem);
}

.dummy-text {
    position: absolute;
    left: 55px;
    font-size: 48px;
    color: white;
    font-weight: 700;
    line-height: 1.2;
}

.page-header {
    width: 100%;
    background-color: #fff;
    color: #333942;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    -webkit-box-flex: 0;
    flex: 0 0 auto;

}
.header {
    overflow: hidden;
    background-color: #ffffff;
    padding: 3rem 2.25rem 3.5rem 2.25rem;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    -webkit-box-align: center;
}

.header a {
    float: left;
    color: #333942;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    border-radius: 4px;
    vertical-align: middle;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header-right {
    max-width: 90em;
    height: 22px;
    /*float: right;*/
    position: sticky;
    top: 0;
    z-index:100;
    background-color: #ffffff;
    overflow: hidden;
    margin-top: 3em;
    margin-bottom: -92px;
    padding-top: 10px;
    padding-bottom: 12px;
    padding-right: 2em;
}

.header-right a:hover {
    color: #f5870d;
}

.header-right a {
    margin-right: 1em;
    float: right;
    color: #333942;
}

.logo-holder {
    float: left;
}

.hidden-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 0 .875rem;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: .5rem 3rem;
    background-color: #f8f8f8;
    color: rgba(0,0,0,.28);
    text-align: right;
}

.nav-item {
    font-weight: 700;
    font-size: 1em;
    line-height: 1.5;
}

.nav-item:hover {
    color: #333942;
}

.mr {
    margin-right: 1em;
}

.mr-3 {
    margin-right: 3em;
}

.portlet-content {
    float: right;
}

.hidden-nav {
    color:rgba(51,57,66,.6);
    font-size: 12px;
}

.newsletter {
    overflow: hidden;
    background-color: #f5870d;
    padding: 20px 10px;
}

.newsletter p{
    float: left;
    color: #f1f1f1;
    text-align: center;
    line-height: 1;
    margin-left: 2em
}

.newsletter-tag {
    font-size: 24px;
    font-weight: 700;

}

.newsletter-text {
    font-size: 18px;
    padding-top:10px
}

.newsletter a{
    transition: background-color 0.2s ease-in;
    vertical-align: center;
    background-color: #ffffff;
    color: #f5870d;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 700;
}

.newsletter-right {
    float: right;
    margin-top: 27px;
    margin-right: 2em;
}


.newsletter a:hover {
    background-color: #f5870d;
    color: #f1f1f1;
}

.header-mobile-menu {
    display: none;
}

@media only screen and (max-device-width: 48em) {
    .newsletter a {
        padding: 10px 8px;
    }
}

@media only screen and (max-device-width: 47.9375em) {
    svg {
        width: 230px;
        height: 145px;
        padding-left: 3em;
    }

    .header {
        min-height: 145px;
    }

    .header ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #fff;
    }

    .header li a {
        display: block;
        padding: 20px 20px;
        border-right: 1px solid #f4f4f4;
        text-decoration: none;
    }

    .header li a:hover,
    .header .menu-btn:hover {
        background-color: #f4f4f4;
    }

    .header .menu-icon {
        cursor: pointer;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
        top: 3em;
        right: 3em;
    }

    .header .menu-icon .nav-icon {
        background: #333;
        display: block;
        height: 0.5em;
        position: relative;
        transition: background .2s ease-out;
        width: 4em;
    }

    .header .menu-icon .nav-icon:before,
    .header .menu-icon .nav-icon:after {
        background: #333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .header .menu-icon .nav-icon:before {
        top: 1.5em;
    }

    .header .menu-icon .nav-icon:after {
        top: -1.5em;
    }

    .header .menu-btn {
        display: none;
    }

    .header .menu-btn:checked ~ .header-mobile-menu {
        top: 35em;
    }

    .header .menu-btn:checked ~ .menu-icon .nav-icon {
        background: transparent;
    }

    .header .menu-btn:checked ~ .menu-icon .nav-icon:before {
        transform: rotate(-45deg);
        top:0;
    }

    .header .menu-btn:checked ~ .menu-icon .nav-icon:after {
        transform: rotate(45deg);
        top:0;
    }

    .hidden-header {
        display: none !important;
    }

    .newsletter {
        padding: 60px 10px;
    }

    .newsletter-tag {
        font-size: 36px;
        margin-top: 0;
    }

    .newsletter-text {
        font-size: 32px;
        margin-top: 10px;
    }

    .newsletter a {
        font-size: 24px;
        padding: 1em 14em;
    }

    .newsletter-right {
        margin-bottom: 2em;
        margin-right: 3.5em;
    }

    .newsletter a {
        width: 100%;
    }

    .image-container {
        height: 50vh;
    }

    .dummy-img {
        height: inherit;
    }

    .dummy-text {
        font-size: 72px;
        margin-top: 2vh
    }

    .header-right {
        display: none;
    }

    .header, .menu-icon, .logo-holder {
        z-index: 100;
    }

    .page-header {
        background: white;
    }

    .header-mobile-menu {
        font-size: 25px;
        position: absolute;
        top: 249px;
        width: 100%;
        left: 0;
        background: white;
        display: flex;
        flex-direction: column;
        transform: translateY(-100%);
        z-index: 98;
        transition: all 0.3s ease-in-out;
    }

    .mobile-menu-background {
        position: absolute;
        width: 100%;
        height: 249px;
        top: 0;
        left: 0;
        background: white;
        z-index: 99;
    }

    .nav-mobile-item {
        padding: 30px !important;
        font-size: 48px;

    }
}

